aws/stepfunction.json
{
  "Comment": "Transaction Processor State Machine",
  "StartAt": "Process Transaction",
  "States": {
    "ProcessTransaction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransactionType",
          "StringEquals": "PURCHASE",
          "Next": "ProcessPurchase"
        },
        {
          "Variable": "$.TransactionType",
          "StringEquals": "REFUND",
          "Next": "ProcessRefund"
        }
      ]
    },
    "ProcessRefund": {
      "Type": "Task",
      "Resource": "",
      "End": true
    },
    "ProcessPurchase": {
      "Type": "Task",
      "Resource": "",
      "End": true
    }
  }
}